<a href="https://colab.research.google.com/github/GypsySoulChronicles/GypsySoulChronicles/blob/main/WelcomeJuniorPythonistas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***PARENTS NOTE: In order to make changes and play with the code provided (to be saved) please mouse over to 'File', click on it, scroll down to 'Save a copy in drive', and make any changes there. Changes will not be able to be saved here. Once you have your copy created mouse up to the upper right of your screen, click on the 'Share' button, and share it with me so that I can check your, or your child's, code for accuracy! Please go back to facebook and send me a message letting me know that you are needing the email address to share this notebook and I will provide it to you.

# WELCOME<br>
*I am going to use wording aimed at the younger population. If something is not understood, please do not hesitate to comment a question for me. I will answer as soon as I am able!<br><br>
***WELCOME Junior Pythonistas***<br>
You are at the very beginning of a journey to learning the Python Programming Language.* <br>

**DEFINITIONS**<br>

***variable:*** a user-designated character or word that will take a value and will be the usable/reusable part of your code. A variable can be anything that you want it to be, just remember to use something that makes sense to you for what you are working on<br>***EXAMPLE:***<br>
 You are working with kittens and you have 7 females and 3 males. Good variables would be:<br>
 kittens_f = 7<br> (kittens_f is the variable for the females)<br>
 kittens_m = 3<br> (kittens_m is the variable for the males)<br><br>
 ***VARIABLES*** in python code are also written in lower case letters, with NO OPEN SPACE like:<br>
 red_hat<br>
 big_bike<br>
 math_problems_1<br>
 **AND ALWAYS USE YOUR VARIABLE EXACTLY AS YOU DEFINED IT**<br> FOR EXAMPLE: use red_hat as red_hat NOT Red_Hat. You will get an error!<br>
 There are other characters that a variable can not start with but we will go over those later in your lessons as you progress.<br><br>

***value:*** the number, letter, word, sentence, list, dictionary, and more assigned to a variable <br><br>
***EXAMPLE:***<br>
x = 4  (x is the variable, 4 is the value)<br>
y = "Hello, World" (y is the variable, "Hello, World" is the value -- in this particular case the value is a string and will print Hello, World)
<br><br>
***string:*** anything that you want printed "as typed". Must be included inside either single (' ') or double quotation (" ")marks.<br>
***EXAMPLE***<br>
"This is a string" - will print: This is a string<br>
'This is also a string' - will print: This is also a string<br>
This is a string (with NO quotation marks will give you an error)<br>
<br>
***integer:*** a whole number or numerical value. 2,4,6,8,10 are all whole number numbers. Does not require quotation marks. Do not use quotation marks (' ') (" "). In later lessons we will discuss when to use integers in quotation marks (" ") but it changes the 'type' and it is a good habit to learn to not wrap integers. <br><br>
***EXAMPLE:***<br>
variable_int = 4 (will print the number 4 as an integer)<br>
variable_str = "4" (will print the number 4 as a string) <br><br>

(Current as of 1:55 PM CST 7/15/2024<br> Will update consistently until complete)

# ***BEGINNER***

I am going to use the reference in the Welcome section about the kittens!<br>
<br> ADDITION:<br>
Jane has 7 female kittens and 3 male kittens.<br>
How many kittens does Jane have all together? <br><br>
kittens_f = 7  <br>kittens_f is the variable, 7 is the value  (7 female kittens)<br>

kittens_m = 3  <br>kittens_m is the variable, 3 is the value  (3 male kittens)
<br><br>
print(kittens_f + kittens_m)  --> This is the print statement<br>
---->(this will do the math for you and is reusable code for 7 + 3 = 10)<br><br>
***See the code in action below!***<br><br>
YOU HAVE TO RUN YOUR CODE AFTER WRITING IT OUT OR YOU WILL NOT GET AN OUTPUT. TO RUN YOUR CODE MOUSE OVER TO THE TOP, LEFT CORNER OF YOUR CODE CELL TO SOMETHING THAT LOOKS LIKE [ ]. HOVERING YOUR MOUSE INSIDE THE [ ] A ‚ñ∂ WILL APPEAR. CLICK ON THE ‚ñ∂ AND THAT WILL RUN YOUR CODE AND GIVE YOU YOUR OUTPUT.<br>

In [ ]:
kittens_f = 7
kittens_m = 3
print(kittens_f + kittens_m)

10

Go back to the code above and change the value of both variables:<br> change kittens_f from 7 to 12<br> change kittens_m from 3 to 6<br> You just reused code to get a new answer!<br><br> Your new answer should be: 18

# What is a Print Statement?<br><br>
A print statement is how you get your answer to your coded question; without the print statement your code may run but there will be no output. <br><br>

***EXAMPLE 1:***<br>
print("I am learning to code python!")<br>
‚òù OUTPUT: I am learning to code python!<br><br>

***EXAMPLE 2:***<br>
print(8675309)<br>
‚òù OUTPUT: 8675309<br><br>

***You can run code inside of a print statement:***<br>
print(3 + 5)<br>
‚òù OUTPUT: 8<br>
NOTE: With quotation marks (' ' or " ") your OUTPUT will change:<br> print("3 + 5")<br>
‚òù OUTPUT: 3 + 5<br><br>

**In the code below I am going to give examples of both addition and subtraction, one-use code, and reusable code. Change the values, rerun your code and watch how your output changes! You have just learned how to write and reuse code!** üòÄ

In [ ]:
# CODE THAT ISN'T REUSABLE IN CODE THAT FOLLOWS BUT YOU CAN CHANGE THE VALUES
# INSIDE THE PARENTHESES AND USE IT AS A CALCULATOR
# DO NOT PLACE NUMBERS INSIDE QUOTATION MARKS

print(3 + 6)
print(15 - 7)
print(4 + 8)
print(11 + 6)

# EXAMPLE OF WHAT PRINTS IF YOU PUT NUMBERS INSIDE OF QUOTATION MARKS ("" "/ ' ')
print("3 + 6" + " <--this is what prints if you put your numbers inside quotation marks")

9
8
12
17
3 + 6 <--this is what prints if you put your numbers inside quotation marks

***REUSABLE CODE***

In [ ]:
# CODE THAT IS REUSABLE
# THERE WILL BE NO OUTPUT HERE BUT YOU HAVE TO RUN THIS CELL FOR FOLLOWING
# CELLS TO WORK. IF YOU EVER RECEIVE AN ERROR AND YOU KNOW YOUR CODE IS CORRECT
# RERUN ALL OF YOUR PREVIOUS CELLS

x = 3 + 6
y = 6 - 4 # you can change the math problem, rerun the cell, and the variable 'y' will update
#    for use in code that follows. Be sure to rerun this cell after you change the value, or math problem.

In [ ]:
print(x) # Your output will be 9
print(y) # Your output will be 2

# FOR THIS CODE TO WORK YOU HAVE TO RUN THE CELL, OR CODE, ABOVE IT
# WHERE THE VALUE OF X HAS BEEN DEFINED OR YOU WILL GET AN ERROR

9
2

***REUSABLE CODE:***<br><br>
In the code below, change the value of m and n only. Rerun your code and watch your output change!

***NOTICE that the variables are different (m and n) than in the previous code! If you use x and y again you will get the value of the previously defined variables (x and y) and your OUTPUT/ANSWER will be wrong!*** In any program that you ever write you have to be aware of the variables that you create and their value(s)!<br>
This also has a few extra options, do not worry about the shortening of the variables, we will go over that later. I just want you to see the potential of what python can do.

In [ ]:
m = 13
n = 9
subtract = (n - m)
add = (m + n)
s = subtract # we will go over later. Shortening variables to make code easier to write later.
a = add # we will go over later. Shortening variables to make code easier to write later.

print(subtract)
print(add)
print(s)
print(a)

-4
22
-4
22

# PRINT STATEMENT PRACTICE -- BE SURE THAT YOU CREATED A COPY, AS MENTIONED AT THE VERY TOP OF THIS PAGE, SO THAT YOU CAN SAVE YOUR WORK

***Create a print statement to output the answers to the following math problems. You can create whatever statement you want, one-time use or reusable, whatever you are more comfortable with -- as long as the OUTPUT/ANSWER is correct.***
<br><br><br>

1.<br>2 + 7

In [ ]:
# START WRITING YOUR CODE BELOW. I STARTED THIS FIRST ONE FOR YOU AS ONE-TIME CODE. PLEASE DELETE ALL SPACE INSIDE THE ( )
# EXAMPLE: print(5 + 5) Do not use the = sign.

print(   )

2.<br>4 + 3

3.<BR>9 + 5

4.<br> 9 - 5

5.<br>4 - 3

6.<br>
7 - 2

**You can use the following cells, or create even more cells, to practice on your own. There is no such thing as 'too much practice'** <br>***HAPPY CODING!***

# LESSON 1a - START HERE REGARDLESS OF YOUR GRADE FOR THE PYTHON TRAINING. IF YOU UNDERSTAND THE MATH PORTION YOU SHOULD BE ABLE TO MOVE THROUGH HERE PRETTY FAST!

"Hundreds of Gum Balls"<br>
Page 196 in Brain Quest's 2nd Grade Workbook
Standard Math (addition and subtraction) ---> Code<br><br>
Addition can be written in any order (commutative property), <br>
***EXAMPLE:*** 123 + 192  OR 192 + 123<br>
and you will get the same answer.

1. 162 ‚ûï 199 = ?<br><br>
Using letters as variables and a proper print statement -- solve the equation above!

In [ ]:
a = 162
b = 199
print(a + b)
print(162 + 199) # Checking your math and code. if these numbers print differently check your numbers used as input

361

In [ ]:
c = (a + b) # reusable code. all you have to do is change the values for a and b above and rerun both cells
print(z)
print(162 + 199) # checking your math/code. if these numbers are different check your numbers used as input

361
361

2. 265 ‚ûï 198 = ?

In [ ]:
d = 265
e = 198
print(d + e)
print(265 + 198) # checking your math/code

463
463

In [ ]:
f = (d + e) #reusable code. all you have to do is change the values for d and e above and rerun both cells
print(f)

463

***YOUR TURN!***<br><br>
**Time to code yourself! For this math problem, use the following letters as variables: <br>
g<br>h<br>i<br><br>

3. 177 ‚ûï 206 = ?

In [ ]:
# WRITE YOUR CODE BELOW
# BE SURE TO WRITE A PRINT STATEMENT TO CHECK YOUR MATH/CODE
# YOU CAN LOOK AT THE ABOVE CODE IF YOU GET STUCK

g =

4. 236 ‚ûï 185 = ?<br><br>
Use the variables:<br>
j<br>k<br>l

# LESSON 1b <br>
"Hundreds of Gum Balls"<br>
Page 196 in Brain Quest's 2nd Grade Workbook<br>
Word Problems ---> Code

1. How many BLUE gumballs are there if there are 265 gumballs IN TOTAL and there are 198 RED gumballs?

In [ ]:
in_total = 265 # total number of known gumballs, both blue and red
red_gumballs = 198 # known number of red guballs
blue_gumballs = (in_total - red_gumballs) # the number of blue gumballs that you are needing to know which is
#the difference between the total number of gumballs and the known number of red gumballs
print(blue_gumballs)
print("There are", blue_gumballs, "blue gumballs") # DON'T FOCUS ON THIS PRINT STATEMENT-- YOU WILL LEARN THIS, AND MORE, LATER

67
There are 67 blue gumballs

An easy way to check your math is to run the problem inside of a print statement as shown below:

In [ ]:
print(265 - 198)

67

When checking your math in a print statement, or setting up your code, be sure to place the numbers in the correct order!<br>
***EXAMPLE:*** 10 - 6 needs to be set up as 10 - 6 because 6 - 10 will give you a wrong answer. You can use a print statement after every word/code problem if you want.

2. How many PINK gumballs are there if there are 206 gumballs IN TOTAL and there are 177 PURPLE gumballs?

In [ ]:
#  I'M GOING TO START THE CODE FOR YOU AND YOU FILL IN THE REST

in_total =
purple_gumballs=
pink_gumballs = (in_total - purple_gumballs)
print(pink_gumballs)
print("There are", pink_gumballs, "pink gumballs")

# Your answer should be 29. If you got anything different check your value assigned to your variable. in_total should
# have 206 and purple_gumballs should have 177 as their values

SyntaxError: incomplete input (<ipython-input-31-742c7bc27ec5>, line 1)

In [ ]:
print() # if you want to check your math

3. How many YELLOW gumballs are there if there are 236 gumballs IN TOTAL and there are 185 GREEN gumballs?<br>
Use:<br>
in_total<br>
green_gumballs<br>
yellow_gumballs = (in_total - green_gumballs)<br>
as your variables and fill in their appropriate values.

In [ ]:
# WRITE YOUR CODE HERE
# create your variables and then add their values
# create a variable that subtracts the number of GREEN gumballs from the TOTAL number of gumballs
# create a print statement using the variable name you created using the subtraction problem.
# Look at any of the above code if you get stuck
# if you get confused, it is okay, learning new things is hard... you've got this!

In [ ]:
print() # if you want to check your math

***TAKE A BREAK! COME BACK AND REDO EACH OF THE ABOVE PROBLEMS AS MANY TIMES AS YOU NEED TO TO FEEL COMFORTABLE! YOU ARE DOING GREAT!***<BR><BR>
**YOU HAVE NOW WRITTEN PYTHON COMPUTER CODE!<br> CONGRATULATIONS!!!**

# LESSON 2 NOTES <br>
**DO NOT GET STUCK ON ANY OF THIS. USE THIS AS A REFERENCE FOR FUTURE LESSONS!**<br>
Multiplication and Division in Python

In Python Code you use the asterisk, or *, for multiplication and the forward slash, or  /, for division. <br>
EXAMPLE: <br>
6 * 6 = 36 ---> will output as a whole number, or integer<br>
36 \ 6 = 6  ---> will output as a float, or decimal<br>

In [ ]:
print(6 * 6) # will print/output, as a whole number, or integer
print(36 / 6) # will print/output with a decimal point in division because it is considered a float.
# I will show you below how to change the float to a string but don't get caught up in it right now
print(int(36 / 6)) # will print/output as a whole number, or integer, without a decimal place

36
6.0
6

In [ ]:
ab = (6 * 6) # will output/print a whole number, or integer
cd = (36 / 6) # will output, or print, a float, or decimal
print(ab) # whole number, or integer
print(float(ab)) # forces output as a float, or decimal
print(cd) # float, or decimal
print(int(cd)) # forces output as a whole number, or integer

36
36.0
6.0
6

***Where a float is needed:***<br>
Fractions and Decimals<br>
10th place - 10,000th place<br><br>
DO NOT GET STUCK ON THESE! LOOK AT THEM AND MOVE ON! THIS IS JUST VISUAL INFORMATION OF WHAT PYTHON CAN DO WITH MATH!

In [ ]:
print((113 / 72), "<-- output will be a float that repeats, or repeating decimal") # DO NOT LET THIS CONFUSE YOU! Just presenting a little information for future lessons
print(round(113/72, 0), "<-- output as a float, or decimal") # will round UP to the next whole number as a float, or decimal
print(int(round(113/72)), "<-- output as a whole number, or integer") # will round up to the next whole number as a whole number, non-decimal
print(round(113/72, 1), "<-- outputs rounded to the 10ths place") # 10ths place
print(round(113/72, 2), "<-- outputs rounded to the 100ths place") # 100ths place
print(round(113/72, 3), "<-- outputs rounded to the 1000ths place") # 1000ths place
print(round(113/72, 4), "<-- outputs the rounded to 10,000ths place") # 10 1000ths place
print(round(cd) * (ab), "<-- outputs as a whole number, or integer") #**DO NOT GET STUCK ON! JUST INFORMATION FOR LATER.
print((cd) * (ab), "<-- outputs as a float, or decimal") # will print/output as a float, or decimal

1.5694444444444444 <-- output will be a float that repeats, or repeating decimal
2.0 <-- output as a float, or decimal
2 <-- output as a whole number, or integer
1.6 <-- outputs rounded to the 10ths place
1.57 <-- outputs rounded to the 100ths place
1.569 <-- outputs rounded to the 1000ths place
1.5694 <-- outputs the rounded to 10,000ths place
216 <-- outputs as a whole number, or integer
216.0 <-- outputs as a float, or decimal

# LESSON 2a<br>
Multiplication and Division

Multiply 6 x 3 = 18<br><BR>
In python code you write out either: <br>
print(6 * 3) OR<br>
num_1 = 6 <--- the numbeer 6, or value of num_1 can be changed<br>
num_2 = 3 <-- the number 3, or value of num_2 can be changed<br>
num_multiplied = (num_1 * num_2)<br>
num_divided = (num_2 / num_1)<br>
nm = num_multiplied<br>
nd = num_divided<br>
print(nm)<br>
print(nd)

In [ ]:
print(6 * 3) # ONE-TIME USE CODE
num_1 = 6 #REUSABLE CODE. JUST CHANGE THE VALUE
num_2 = 3# REUSABLE CODE. JUST CHANGE THE VALUE
num_multiplied = (num_1 * num_2)
num_divided = (num_1 / num_2) #MAKE SURE YOU HAVE THE DIVISOR AND DIVIDEND IN THE CORRECT PLACE
nm = num_multiplied
nd = num_divided
print(nm)
print(nd)
print(int(nd))

18
18
2.0
2

1. Multiply and Divide 12 by 3<br><br>
You can write the code however you are comfortable doing so. Be sure to practice all ways, one-time use and reusable code, so that you learn all of the python basics.<br>><br>

12 ‚ùå 3 = ?<br>
12 ‚ûó 3 = ?

In [ ]:
# WRITE YOUR CODE BELOW